
@{
    ViewData["Title"] = "Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
    <body onload="lightMode()">
        <h1 class="display-4">Control Your Shades</h1>
        <p id="lightNote">Light Control Mode Enabled, Please Disable Light Control For Additional Control Options</p>
        <br />
        <br />
        <div class="row" >

            <div id="Both" class="col-lg-4 order-md-2 text-center">
                <p>Control Both Shades:</p>

                <button id="oB" type="button" onclick="control(1)" class="btn btn-primary">Open</button>
                <button id="cB" type="button" onclick="control(0)" class="btn btn-primary">Close</button>
                <button id="sB" type="button" onclick="control(2)" class="btn btn-primary">Stop</button>

            </div>
            <div id="Left" class="col-lg-4 order-md-1 text-center">
                <p>Control Left Shade</p>
                <button id="oL" type="button" onclick="control(3)" class="btn btn-primary">Open Left</button>
                <button id="cL" type="button" onclick="control(5)" class="btn btn-primary">Close Left</button>
                
            </div>
            <div id="Right" class="col-lg-4 order-md-3 text-center">
                <p>Control Right Shade</p>
                <button id="oR" type="button" onclick="control(4)" class="btn btn-primary">Open Right</button>
                <button id="cR" type="button" onclick="control(6)" class="btn btn-primary">Close Right</button>
                
            </div>
        </div>


        <script type="text/javascript">

            function lightMode() {
                
                axios({
                    method: 'get',
                    url: '/home/getMode'

                }).then((response) => {
                    if (response.data.controlMode < 2) {
                        document.getElementById("Left").style.display = "inline";
                        document.getElementById("Right").style.display = "inline";
                        document.getElementById("oB").style.display = "inline";
                        document.getElementById("cB").style.display = "inline";
                        document.getElementById("Both").className = "col-lg-4 order-md-2 text-center";
                        document.getElementById("lightNote").style.display = "none";
                    }
                    else {
                        document.getElementById("Left").style.display = "none";
                        document.getElementById("Right").style.display = "none";
                        document.getElementById("oB").style.display = "none";
                        document.getElementById("cB").style.display = "none";
                        document.getElementById("lightNote").style.display = "inline";
                        document.getElementById("Both").className = "col-lg-12 order-md-2 text-center";
                    }

                })
            }

            function control(id) {
                axios({
                    method: 'put',
                    url: '/home/sendCommand',
                    params: {
                        blindState: id
                    }
                }).then((response) => {

                })
            }


        </script>
    </body>


