@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Control Your Blinds</h1>
    <h4>Set Your Control Method Below</h4>
</div>

<div class="row">
    <div class="col-lg">

    </div>
    <div class="col-lg-6">
        <div class="text-center">

            <button type="button" class="btn btn-primary" onclick="manualSubmit()">Manual Control Only</button>
            <br />
            <br />
            <p>Select Light Control Scheme:</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="dayOpen" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Open During Day
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="nightOpen" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Open During Night
                </label>
            </div>
            <button type="button" class="btn btn-primary" onclick="lightSubmit()">Light Control</button>
            <br />
            <br />
            <div class="form-group row">
                <label for="time-input-open" class="col-2 col-form-label">Open at:</label>
                <div class="col-10">
                    <input class="form-control" type="time" value="13:45:00" id="time-input-open">
                </div>
                <label for="time-input-close" class="col-2 col-form-label">Close at:</label>
                <div class="col-10">
                    <input class="form-control" type="time" value="13:45:00" id="time-input-close">
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="timeSubmit()">Time Control</button>
            <br />
            <br />
            
        </div>
    </div>
    <div class="col-lg">

    </div>
</div>

<script type="text/javascript">
    function timeSubmit() {
        var open = document.getElementById('time-input-open').value;
        var close = document.getElementById('time-input-close').value;

        axios({
            method: 'put',
            url: '/home/changeControl',
            params: {
                controlMode: 1,
                openTime: open,
                closeTime: close
            }
        }).then((response) => {
            
        })
    }

    function lightSubmit() {
        var day = document.getElementById('dayOpen').checked;
        var night = document.getElementById('nightOpen').checked;
        var mode = 2;
        if (night == true) {
            mode = 3;
        }

        axios({
            method: 'put',
            url: '/home/changeControl',
            params: {
                controlMode: mode
                
            }
        }).then((response) => {
            
        })

    }

    function manualSubmit() {
        axios({
            method: 'put',
            url: '/home/changeControl',
            params: {
                controlMode: 0
            }
        }).then((response) => {
            
        })
    }

    
</script>

